<details class="accordion">
  <summary class="accordion__summary">
    {{ content.field_accordian_headline.0['#context']['value'] }}
    <span class="accordion__indicator" aria-hidden="true">▸</span>
  </summary>
  <div class="accordion__details">
    {{ content.field_accordian_body }}
  </div>
</details>
