/* Layout */

.region.region-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
}

.region.region-header nav {
  grid-column: 2;
}

#block-newfiytheme-branding {
  grid-column: 1;
}

.region.region-header ul.navbar-nav.nav-level-0 {
  display: flex;
  flex-direction: row;
}

.menu--account ul.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* Hero Block Layout */
.block-newfiytheme-onelinkheroblock5 .field--name-field-image-media img {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.6); /* optional for contrast */
}
